[Unit]
Description=Wakeword service for Matrix Abstraction Layer for OS
After=matrixio-malos.service

[Service]
Type=simple
ExecStart=/usr/bin/malos_wakeword

[Install]
WantedBy=multi-user.target
